<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Recipe</title>
</head>
<body>
    <form action="/recipe/save/{{recipe.id}}">
        <label for="title">Title</label><br>
        <input type="text" id="title" name="title" value="{{recipe.title}}"><br>
        <label for="servings">Number of Servings</label><br>
        <input type="number" id="servings" name="servings" value="{{recipe.servings}}"><br>
        <label for="ingredient_input">Ingredients</label><br>
        <div id="ingredient_input">

            {% for ingredient in ingredients%}

            <label for="amount_0"> Amount </label>
            <input type="number" id="amount_0" name="amount_0" value="{{ingredient.amount}}">
            <label for="measurement_0"> Measurement </label>
            <select name="measurement_0" id="measurement_0">
                <option value="Tablespoon">Tablespoon</option>
                <option value="Teaspoon">Teaspoon</option>
                <option value="Ounces">Ounces</option>
                <option value="Cup">Cup</option>
                <option value="Pint">Pint</option>
                <option value="Quart">Quart</option>
                <option value="Gallon">Gallon</option>
                <option value="Milliliter">Milliliter</option>
                <option value="Liter">Liter</option>
                <option value="Pound">Pound</option>
                <option value="Gram">Gram</option>
                <option value="Kiligram">Kiligram</option>
            </select>
            <label for="name_0"> Name </label>
            <input type="text" id="name_0" name="name_0" value="{{ingredient.name}}"><br>

            {% endfor %}
        </div>
        <button type="button" onclick="createNewIngredient()">Add Ingredient</button><br>
        <label for="step_1">Preparation</label><br>
        <div id="steps">
            <label>Step 1</label>
            <input type="text" id="step_1" name="step_1" ><br>
            <label>Step 2</label>
            <input type="text" id="step_2" name="step_2" ><br>
            <label>Step 3</label>
            <input type="text" id="step_3" name="step_3" ><br>
        </div>
        <button type="button" onclick="createNewStep()">Add Step</button><br>
        <input type="submit" value="Edit Recipe">
    </form>
</body>
</html>