<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Recipe</title>
</head>
<body>
    <h2>Add Recipe</h2>
    <form action="/recipe/submit">
        <label for="title">Title</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="servings">Number of Servings</label><br>
        <input type="number" id="servings" name="servings"><br>
        <label for="ingredients">Ingredients</label><br>
        <input type="text" id="ingredients" name="ingredients"><br>
        <label for="steps">Steps</label><br>
        <input type="text" id="steps" name="steps" ><br>
        <input type="submit" value="Add Recipe">
    </form>

</body>
</html>